.header {
    min-height: 100vh;
    min-width: 100vw;
}

table {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
}

.flip-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo {
    max-width: 479px;
    height: auto;
    display: block;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.text {
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 100vh;
    z-index: 1000;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: black;
}

.krutyashki {
    position: relative;
    top: calc(100vh + 30px);
}

.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.front, .back {
    height: 300px;
    width: 100%;
}

.flip-container {
    min-height: 320px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.robot {
    background: rgb(81, 13, 129);
}

.programm {
    background: rgb(67, 180, 152);
}

.bio {
    background: rgb(255, 140, 102);
}

.ad {
    background: rgb(238, 229, 58);
}

.ad,
.bio,
.programm,
.robot {
    color: white;
    font-weight: bold;
    position: relative;
}

.ad p,
.bio p,
.programm p,
.robot p {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.ad table,
.bio table,
.programm table,
.robot table,
.ad-back table,
.bio-back table,
.programm-back table,
.robot-back table {
    width: 100%;
    height: 100%;
}

.ad h3,
.bio h3,
.programm h3,
.robot h3 {
    text-align: center;
    font-size: 40px;
}

.programm-back {
    background-image: url(/static/img/napravleniya/programm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.robot-back {
    background-image: url(/static/img/napravleniya/robo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bio-back {
    background-image: url(/static/img/napravleniya/bio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ad-back {
    background-image: url(/static/img/napravleniya/ad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.programm-back table,
.robot-back table,
.bio-back table,
.ad-back table {
    background-color: rgba(55, 55, 55, 0.46);
}

.programm-back,
.robot-back,
.bio-back,
.ad-back {
    text-align: center;
    font-size: 40px;
    color: white;
}

.vertical.flip-container {
    position: relative;
}

.vertical .back {
    transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
    transform-origin: 100%; /* half of height */
}

.vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
}

.take-part-block h2 {
    text-align: center;
    padding-bottom: 50px;
}

.big-partner img {
    max-width: 160px;
    max-height: 35px;
}

.little-partner img {
    max-width: 90%;
    max-height: 90%;
}

.opisanie {
    position: absolute;
    z-index: 2;
    height: 325px;
    right: 15px;
    left: 15px;
    display: none;
}

.opisanie p {
    background-color: white;
    margin: 30px;
    padding: 30px;
    font-size: 14px;
}

.up img, .down img {
    z-index: 1000;
    max-height: 30px;
    position: absolute;
    right: calc(50% - 30px);
}

.up img {
    bottom: 30px;
    transform: rotateX(180deg);
}

.down img {
    top: 30px;
}

.opisanie table {
    height: 325px;
}

.crugleski {
    position: relative;
}

.opisanie svg {
    max-height: 19px;
    position: absolute;
    right: -18px;
    top: 5px;
}

.opisanie path {
    fill: #ffffff;
}

.robot-text,
.ad-text,
.bio-text,
.programm-text {
    display: none;
}

.first-slide {
    position: absolute;
    top: 0;
}

.opisanie a {
    position: absolute;
    right: 0;
    width: 64px;
    height: 19px;
    top: 5px;
    z-index: 1000;
}

.partners {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.partner img {
    max-width: 50%;
    max-height: 50%;
    height: 0;
    width: auto;
    vertical-align: middle;
}

.partner {
    height: 100px;
    padding: 15px;
    position: relative;
    display: block;
}

.partner table,
.partner td {
    width: 100%;
    height: 100px;
}

.partner {
    text-align: center;
}

.big-partner img {
    max-width: 160px;
    max-height: 35px;
}

.little-partner img {
    max-width: 90%;
    max-height: 90%;
}

.hor-fix {
    transform: rotate(90deg);
}

@-webkit-keyframes badbounce {
    0%, 100% {
        -webkit-transform: translateY(0px);
    }
    10% {
        -webkit-transform: translateY(6px);
    }
    30% {
        -webkit-transform: translateY(-4px);
    }
    70% {
        -webkit-transform: translateY(3px);
    }
    90% {
        -webkit-transform: translateY(-2px);
    }
}

@-moz-keyframes badbounce {
    0%, 100% {
        -moz-transform: translateY(0px);
    }
    10% {
        -moz-transform: translateY(6px);
    }
    30% {
        -moz-transform: translateY(-4px);
    }
    70% {
        -moz-transform: translateY(3px);
    }
    90% {
        -moz-transform: translateY(-2px);
    }
}

@keyframes badbounce {
    0%, 100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    10% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px);
    }
    30% {
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    70% {
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
    }
    90% {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

.ss_animate {
    -webkit-animation: badbounce 1s linear;
    -moz-animation: badbounce 1s linear;
    animation: badbounce 1s linear;
}

#ss_menu {
    top: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    color: black;
    position: fixed;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#ss_menu > .menu {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#ss_menu > .menu .share {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#ss_menu > .menu .share .circle {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #282928;
    top: 50%;
    margin-top: -6px;
    left: 12px;
    opacity: 1;
}

#ss_menu > .menu .share .circle:after, #ss_menu > .menu .share .circle:before {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: black;
}

#ss_menu > .menu .share .circle:after {
    left: 20.78461px;
    top: 12.0px;
}

#ss_menu > .menu .share .circle:before {
    left: 20.78461px;
    top: -12.0px;
}

.bar:before {
    background: black;
}

#ss_menu > .menu .share .bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    width: 24px;
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    left: 18px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#ss_menu > .menu .share .bar:before {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    content: '';
    width: 24px;
    height: 3px;
    background: black;
    position: absolute;
    left: 0px;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

#ss_menu > .menu .share.close .circle {
    opacity: 0;
}

#ss_menu > .menu .share.close .bar {
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -12px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
}

#ss_menu > .menu .share.close .bar:before {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-450deg);
    -moz-transform: rotate(-450deg);
    -ms-transform: rotate(-450deg);
    -o-transform: rotate(-450deg);
    transform: rotate(-450deg);
}

#ss_menu > .menu.ss_active {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

#ss_menu > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    display: table;
}

#ss_menu > div i {
    display: table-cell;
    vertical-align: middle;
}

#ss_menu > div:hover {
    cursor: pointer;
}

#ss_menu div:nth-child(1) {
    top: 0px;
    left: -160px;
}

#ss_menu div:nth-child(2) {
    top: -80.0px;
    left: -138.56406px;
}

#ss_menu div:nth-child(3) {
    top: -138.56406px;
    left: -80.0px;
}

#ss_menu div:nth-child(4) {
    top: -160px;
    left: 0.0px;
}

.cool_table{
    width: 100vw;
    height: 100vh;
}
