.navbar {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar a {
    color: white !important;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.big-box {
    margin: 3% 0;
}

.feature {
    line-height: 1.1;
}

.vector-description {
    padding: 3%;
}

.white-background {
    background: white !important;
}

.vector-description h3 {
    text-align: center;
}

h1, h2, h3, h4, h6 {
    text-align: center;
}

.header-btn-big {
    margin-top: 3%;
    max-width: 250px;
    font-size: 27px;
}

.header-btn-little {
    padding: 10px 15px;
    margin-top: 3%;
    max-width: 140px;
    font-size: 14px;
    border-color: rgb(207, 207, 207);
    color: rgb(64, 64, 64);
}

.school {
    line-height: 1.4;
    padding: 3%;
    text-align: center;
}

.school p {
    text-align: left;
    margin-bottom: 7px;
    color: #4f4f4f;
}

.school h6 {
    font-weight: 300;
    color: black;
    text-align: left;
    font-size: 18px;
}

.school img {
    max-width: 100%;
    height: auto;
}

.smoke {
    border-color: rgb(207, 207, 207);
    color: rgb(64, 64, 64);
}

.school-card {
    background: white;
    border: 2px solid rgb(207, 207, 207);
    height: 100%;
}

.gone{
    font-size: 18px;
    text-align: center !important;
    padding-top: 15px;
}

.email {
    border: 2px solid #696969;
    width: 200px;
}

.subscribe {
    margin-top: 5%;
    text-align: center;
}

.subscribe p {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
}

.top-fix{
    margin-top: 30px;
}

td{
    vertical-align: middle;
}

table{
    margin: 0 auto;
    height: 100%;
}
