.header {
    background-image: url('/static/img/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-text {
    color: white;
}

.header-btn {
    border-radius: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 200px;
    font-size: 21px;
    padding: 0.6%;
    border: 2px solid white;
    margin-bottom: 5%;
}

.header-text p {
    color: white !important;
    font-size: 45px;
    line-height: 1.5;
    font-weight: 100;
    margin-top: 20%;
    margin-bottom: 2%;
}

.navbar {
    background: none;
}

.navbar a {
    color: white !important;
}

.bigblock{
    background: rgb(65, 143, 122);
}

.bigblock-features{
    height: 100%;
    border: 2px solid rgb(65, 143, 122);
}
