body, h3, h5 {
    font-weight: 200;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

a {
    cursor: pointer !important;
}

.desc {
    padding: 3%;
}

.inside {
    background: white;
    padding: 10px;
    margin: 8px;
    text-align: center;
    height: 100%;
}

.friend img {
    width: 50px !important;
    height: 50px !important;
    margin: 0 auto;
}

.friend {
    float: left;
    margin: 10px;
}

.friend p {
    float: left;
}

.inside img {
    width: 200px;
    height: 200px;
}

.edit {
    width: 200px;
    text-align: center;
    background: rgba(77, 208, 176, 0.11);
    padding: 5px;
    margin: 10px auto;
    cursor: pointer;
}

.edit:hover {
    background: rgba(77, 208, 176, 0.2);
}

.whole {
    background: #edeef0;
}

.hr {
    margin-bottom: 0;
}

.name h2 {
    font-size: 34px;
    text-align: left;
    margin: 0;
}

.name h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.name .hr {
    padding-bottom: 0;
}

.features {
    margin: 20px;
}

.feature h5 {
    font-size: 14px;
    text-align: left;
    width: auto;
    float: left;
}

.feature p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    max-width: 60%;
    float: left;
}

.value {
    font-size: 16px;
    text-align: left !important;
}

p {
    color: black;
    margin-bottom: 0;
}

.leftal {
    text-align: left;
}

/*.row {*/
/*display: -webkit-box;*/
/*display: -webkit-flex;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*}*/

/*.row > [class*='col-'] {*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

td {
    vertical-align: middle;
}

table {
    height: 100%;
}

.school img {
    margin-bottom: 20px;
}

.school p {
    margin-bottom: 0;
}

.project {
    text-align: center;
}

.project h3 {
    margin: 0;
}

.project h6 {
    font-size: 17px;
}

.project .features {
    margin: 0;
}

.where {
    padding: 10px;
    font-size: 12px;
}

iframe {
    position: inherit;
    width: 100%;
    border: none;
}

.add-image {
    max-width: 65px;
    height: auto !important;
}

table {
    margin: 0 auto;
}

.rightal {
    text-align: right;
}

.project p {
    color: rgba(44, 44, 44, 0.92);
}

.project-photo {
    text-align: center;
}

.project-photo img {
    max-width: 100%;
    max-height: 100%;
}

.project-header {
    font-size: 28px !important;
    max-width: 70% !important;
}

.project-description {
    width: 100%;
    min-height: 200px;
}

.project-maintainers {
    max-width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.project-image {
    border: 1px solid;
    padding: 20px;
}

.project-image img {
    max-width: 100px;
    height: auto;
}

.project-add {
    border-radius: 0;
    max-width: 200px;
    font-size: 18px;
    padding: 0.6%;
    background: white;
    border: 2px solid rgb(66, 158, 132);
    margin-top: 2%;
    color: rgb(66, 158, 132);
}

.profileedit{
    display: none;
}

.school-project{
    font-weight: 500;
    font-size: 19px;
}
