.navbar {
    background: none;
}

.navbar a {
    color: white !important;
}

.cards {
    padding-bottom: 20%;
}
.card {
    position: relative;
    float: left;
    width: 100%;

}

.card-title {
    cursor: pointer;
    font-size: 27px;
    color: white;
    text-align: left;
    line-height: 1.3;
    padding: 10% 5%;
}

.card-time {
    cursor: pointer;
    font-size: 25px;
    color: white;
    text-align: right;
    margin: 0 2%;

}

.card__front,
.card__back {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.big-box {
    margin: 3% 0;
}

.feature {
    line-height: 1.1;
}

.vector-description {
    padding: 3%;
}

.vector-description h3 {
    text-align: center;
}

h1, h2, h3, h4, h6 {
    text-align: center;
}

.header-btn-big {
    margin-top: 3%;
    max-width: 250px;
    font-size: 27px;
}

.todo img {
    max-width: 75px;
    max-height: 75px;

    display: block;
    margin: 0 auto;
}

.staff-avatar {
    max-width: 170px;
    max-height: 170px;
}

.staff:before { /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.helper {
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif; /* <-- reset the font property */
}

.questions {
    margin-top: 3%;
}

.questions p {
    font-size: 32px;
    line-height: 1.1;
    cursor: pointer;
    margin-bottom: 5px;
}

.questions span {
    padding: 10px;
    font-size: 26px;
}

.header-btn-little {
    padding: 10px 15px;
    margin-top: 3%;
    max-width: 130px;
    font-size: 15px;
    border-color: rgb(207, 207, 207);
    color: rgb(64, 64, 64);
}

.school {
    line-height: 1.4;
    padding: 3%;
    text-align: center;
}

.school p {
    text-align: left;
    margin-bottom: 7px;
    color: #4f4f4f;
}

.school h6 {
    font-weight: 300;
    color: black;
    text-align: left;
    font-size: 18px;
}

.school img {
    max-width: 100%;
    height: auto;
}

.smoke {
    border-color: rgb(207, 207, 207);
    color: rgb(64, 64, 64);
}

.school-card {
    background: white;
    border: 2px solid rgb(207, 207, 207);
    height: 100%;
}
.take-part{
    font-size: 14px;
    max-width: 140px;
}
