{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link href="{% static 'css/about_us.css'%}" rel="stylesheet">
    <div style="text-align: center">
        <span>О проекте GoTo</span>
    </div>


    <div class="container">
        <div class="tbl s-diagonal-tbl xs-wrap">
            <div class="td left s-diagonal-td" style="padding-right: 30px; vertical-align: middle;">

            </div>
            <div class="td right s-diagonal-td" style="padding-left: 30px; vertical-align: middle;">

            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 30" preserveAspectRatio="none">
        <path d="M 0 0 H 50 L 50 30 H 0 Z" style="fill: rgb(67, 180, 152);"></path>
    </svg>


    <div class="container">
        <div class="tbl s-diagonal-tbl xs-wrap">
            <div class="td left s-diagonal-td" style="padding-right: 30px; vertical-align: middle;">

            </div>
            <div class="td right s-diagonal-td" style="padding-left: 30px; vertical-align: middle;">

            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 30" preserveAspectRatio="none">
        <path d="M 0 0 H 50 L 50 30 H 0 Z" style="fill: rgb(67, 180, 152);"></path>
    </svg>

    <div class="clearfix"></div>
{% endblock %}
