{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    <div class="container">
        <div id="gkContent">
            <div data-inset-pos="left" id="gkContentWrap">
                <section id="gkMainbody">
                    <article itemtype="http://schema.org/Article" itemscope="" class="item-page ">
                        <meta content="ru-RU" itemprop="inLanguage">
                        <div class="itemBody"><p>В первый день школы ребят ждет мастерская дизайн-мышления. Участники
                            освоят процесс осознанного поиска и разработки жизнеспособных идей, а также познакомятся с
                            технологиями и инструментами, которые помогут им в воплощении проектов. В результате сессии
                            ребята объединятся в команды и определятся с проектами, над которыми будут работать в
                            группах по 2-3 человека в течение школы. Сессия направит ребят так, чтобы их проекты
                            получились одновременно и живыми, и востребованными, и реализуемыми.</p>
                            <p>Дальше ребят ждёт самое интересное и сложное - работа над проектами. Каждый день после
                                зарядки и завтрака им предстоит окунаться в процесс анализа, проектирования, разработки
                                и тестирования всё новых и новых кусочков своего проекта. Помимо работы по проекту с
                                наставниками, ребята при желании смогут заниматься им и в свободное время.</p>
                            <p>Основная особенность проектного подхода - это то, что к завершению смены команды должны
                                получить прототипы - приложения или умные устройства.<br>Мы хотим, чтобы домой ребята
                                отправились не только вооруженными новыми знаниями и опытом, но и заряженными
                                любопытством и жаждой до новых навыков и открытий, чтобы они смело шли от одной новой
                                задумки к другой и становились настоящими мастерами новых индустрий.</p>
                            <h3><a id="prog"></a>Прикладное программирование</h3>
                            <ul class="gkBullet4">
                                <li>Руководитель направления &mdash; <a href="/about/bibilov-ivan">Бибилов Иван</a></li>
                            </ul>
                            <p>На этом направлении мы будем заниматься реализацией небольших проектов, пройдя все стадии
                                от идеи до реализации. Все участники будут разделены на 2 группы в соответствии со
                                своими знаниями и опытом.</p>
                            <p>Для "начинающей" группы запланирована серия лекций и мастер-классов, сопровождающихся
                                небольшими заданиями из разных областей, помогающих усвоить материал, ликвидировать
                                пробелы в базовом технологическом стеке, освоить базовые алгоритмы и структуры данных. А
                                также ребята сделают 5-6 мини-проектов.</p>
                            <p>Группу "продвинутых" ждет множество мастер-классов и лекций, исходя из индивидуальных
                                потребностей группы, по областям, которые традиционно не изучаются в школе:
                                клиент-серверное программирование (в том числе Web), сетевое и параллельное
                                программирование, основы машинного обучения, программирование под мобильные устройства,
                                разработка интерфейсов и многое другое. После чего ребята начнут работу над своими
                                основными проектами.</p>
                            <p><span>Проекты могут быть из самых разных областей: информационная безопасность, игры, социальные сети, услуги, биология, образование, банковская сфера, искусство, спорт &mdash;
                                программирование везде оказывается полезным и востребованным. </span></p>
                            <p><span>Некоторые проекты будут носить исследовательский характер, например, в областях машинного обучения и анализа данных, биоинформатики.&nbsp;</span><span>Особое внимание будет уделено созданию прототипов при помощи скриптовых языков.</span><a
                                    id="robo"></a></p>
                            <h3>Робототехника</h3>
                            <ul class="gkBullet4">
                                <li>Руководитель направления &mdash; <a href="/about/perepelkin-aleksej">Перепёлкин
                                    Алексей</a></li>
                            </ul>
                            <p>
                                <span>Для создания проектов мы будем использовать Arduino и Intel Galileo/Genuino.&nbsp;</span><span>Участники с этого направления будут разделены на 2 группы: в одной из них опытные конструкторы возьмутся за проекты, которые им по зубам, а второй поток специально предназначен для новичков.</span>
                            </p>
                            <p><span>Новички получат навыки и инструментарий, который позволит им далее продолжать занятия робототехникой и интернетом вещей:</span>
                            </p>
                            <ul class="gkBullet2">
                                <li>познакомятся с платформой и средой разработки,</li>
                                <li>поймут, что такое программирование и как оно используется при создании умных
                                    устройств,
                                </li>
                                <li>научатся работать с различными электронными компонентами: датчиками, микросхемами,
                                    сервомоторами и многим другим,
                                </li>
                                <li>соединят это всё вместе, чтобы получить работающих роботов, которые будут
                                    взаимодействовать с окружающим миром, людьми или между собой.
                                </li>
                            </ul>
                            <p><span>Те же, для кого программирование или работа с электроникой уже не в новинку, столкнутся с вызовами по своим силам. Всем вместе предстоит много исследовательской работы, преодоление сложностей оцифровки аналогового мира, инженерных и конструкторских задач, но главное &mdash;
                                мы получим результат в виде законченного устройства. Нас ждут эксперименты с беспилотниками, нейроинтерфейсами, проектами в области интернета вещей, знакомство с промдизайном и 3D-моделирования.&nbsp;</span><strong>
                                &nbsp;</strong></p></div>
                        <!--                                                                                  -->
                        <!--<div id="gk-exts"><h3><a href="http://joomfans.com/extensions/" title="расширения">расширения joomla</a></h3></div>-->
                    </article>
                </section>
            </div>
            <aside class="dark-area" id="gkInset">
                <div class="box ">
                    <div class="content">
                        <ul class="menu">
                            <li class="item-1029 active"><a href="/camp/napravleniya">Направления</a></li>
                            <li class="item-1036"><a href="/?Itemid=614">Распорядок дня</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}