{% extends 'base.html' %}
{% block container %}
    {% load staticfiles %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

    <div class="header">
        <div class="container" style="background: none;">
            <nav style="padding: 30px 0;" class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs1-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}"> <img style="margin: 0" class="logo"
                                                                               src="{% static 'img/logo.png' %}">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right auth-nav">
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'user_detail' user.id %}">{{ request.user.first_name }}</a>
                                </li>
                                <li><a href="{% url 'sign_out' %}">Выйти</a></li>
                            {% else %}

                                <li><a href="{% url 'sign_in' %}">Вход</a></li>
                                <li><a href="{% url 'sign_up' %}">Регистрация</a></li>

                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'school' %}">Школа</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'hackathon' %}">Хакатон</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'intensive' %}">Интенсив</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'lectoriy' %}">Лекторий</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'about_us' %}">О нас</a></li>
                            <li role="separator" class="divider"></li>

                        </ul>
                    </div>

                </div>
            </nav>
            <div class="xs-force-center header-text">
                <p>GoTo <br>
                    Серия меропритий
                </p>
                <input class="header-btn" type="button" class="btn btn-transparent btn-xl inc" value="Принять участие">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="destinations">
        <h1>Направления</h1>

        <div class="container destination">
            <div class="col-md-6 destination-text">
                <h3>Хакатон</h3>
                <p>Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n
                    раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение
                    повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это
                    предложение повторяется n раз.</p>

                <div class="col-md-12 destination-about">
                    <p>Школьные каникулы</p>
                    <a>Подробнее</a>
                </div>
            </div>
            <div class="col-md-6 destination-img">
                <img src={% static "img/destinations/h1.jpg" %}>
            </div>
        </div>

        <div class="container destination">
            <div class="col-md-6 destination-img">
                <img src={% static "img/destinations/h2.jpg" %}>
            </div>
            <div class="col-md-6 destination-text">
                <h3>Хакатон</h3>
                <p>Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n
                    раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение
                    повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это
                    предложение повторяется n раз.</p>

                <div class="col-md-12 destination-about">
                    <p>Школьные каникулы</p>
                    <a>Подробнее</a>
                </div>
            </div>
        </div>

        <div class="container destination">
            <div class="col-md-6 destination-text">
                <h3>Хакатон</h3>
                <p>Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n
                    раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение
                    повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это
                    предложение повторяется n раз.</p>

                <div class="col-md-12 destination-about">
                    <p>Школьные каникулы</p>
                    <a>Подробнее</a>
                </div>
            </div>
            <div class="col-md-6 destination-img">
                <img src={% static "img/destinations/h3.jpg" %}>
            </div>
        </div>

        <div class="container destination">
            <div class="col-md-6 destination-img">
                <img src={% static "img/destinations/h4.jpg" %}>
            </div>
            <div class="col-md-6 destination-text">
                <h3>Хакатон</h3>
                <p>Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n
                    раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это предложение
                    повторяется n раз. Это предложение повторяется n раз. Это предложение повторяется n раз. Это
                    предложение повторяется n раз.</p>

                <div class="col-md-12 destination-about">
                    <p>Школьные каникулы</p>
                    <a>Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container news">
        <div class="col-md-3 article">
            <img src={% static "img/news/n1.jpg" %}>
            <h6>Тяжела и неказиста жизнь простого программиста.</h6>
            <p>Эта новость о том, как тяжела и неказиста жизнь простого программиста. Удачи.</p>
        </div>

        <div class="col-md-3 article">
            <img src={% static "img/news/n1.jpg" %}>
            <h6>Тяжела и неказиста жизнь простого программиста.</h6>
            <p>Эта новость о том, как тяжела и неказиста жизнь простого программиста. Удачи.</p>
        </div>

        <div class="col-md-3 article">
            <img src={% static "img/news/n1.jpg" %}>
            <h6>Тяжела и неказиста жизнь простого программиста.</h6>
            <p>Эта новость о том, как тяжела и неказиста жизнь простого программиста. Удачи.</p>
        </div>

        <div class="col-md-3 article">
            <img src={% static "img/news/n1.jpg" %}>
            <h6>Тяжела и неказиста жизнь простого программиста.</h6>
            <p>Эта новость о том, как тяжела и неказиста жизнь простого программиста. Удачи.</p>
        </div>

        <input class="header-btn" type="button" class="btn btn-transparent btn-xl inc" value="Все новости">
    </div>
    <div class="clearfix"></div>

    <div class="row features">
        <div style="background: none" class="container">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">
                <div class="features-mini">
                    <div class="feature">
                        <h6>БЫСТРОЕ ОФОРМЛЯЕМ</h6>
                        <p>Быстро оформим вашу заявку на забор груза или документов</p>
                    </div>
                </div>
                <div class="white-hr"></div>

                <div class="features-mini">
                    <div class="feature">
                        <h6>БЫСТРОЕ ОФОРМЛЯЕМ</h6>
                        <p>Быстро оформим вашу заявку на забор груза или документов</p>
                    </div>
                </div>
                <div class="white-hr"></div>

                <div class="features-mini">
                    <div class="feature">
                        <h6>БЫСТРОЕ ОФОРМЛЯЕМ</h6>
                        <p>Быстро оформим вашу заявку на забор груза или документов</p>
                    </div>
                </div>
                <div class="white-hr"></div>

                <div class="features-mini">
                    <div class="feature">
                        <h6>БЫСТРОЕ ОФОРМЛЯЕМ</h6>
                        <p>Быстро оформим вашу заявку на забор груза или документов</p>
                    </div>
                </div>
                <div class="white-hr"></div>

                <div class="features-mini">
                    <div class="feature">
                        <h6>БЫСТРОЕ ОФОРМЛЯЕМ</h6>
                        <p>Быстро оформим вашу заявку на забор груза или документов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container subscribe">
        <p> Подпишитесь, чтобы получать письма с отчетами о наших достижениях, а также информацию о предстоящих
            лекциях,
            курсах и спецпредложениях.</p>
        <form>
            <input class="email" type="email" placeholder="Электронная почта*">
            <input style="width: 40px;" type="image" src={% static "img/tick.png" %}>
        </form>
    </div>
    <div class="clearfix"></div>

    <div class="container partners">
        <div class="row">
            <h1>Партнёры</h1>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/mfti.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/krok.gif" %}>
            </div>

            <div class="col-md-2 partner">
                <img src={% static "img/partners/intel.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/hse.jpg" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/mfti.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/nts.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/rvk.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/amperka.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/innopols.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/rambler.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/blastim.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/codeforces.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/abitur.jpg" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/cat.jpg" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/golograph.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/cossa.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/popmech.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/newtonew.png" %}>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

{% endblock %}

{% block footer %}
    <div class="hr"></div>
    <div class="footer">
        <div style="padding-top: 5px; padding-bottom: 6px;">
            <div class="container">
                <div class="col-md-6 bot-text">
                    <img src="{% static 'img/logo.png' %}">

                    <p>Образовательный проект, посвященный проектной деятельности в различных
                    высокотехнологических областях. Использование визуальных материалов только с согласия
                    создателей проекта. Все права защищены.</p>

                </div>
                <div class="col-md-6 contacts">
                    <h5>Контакты</h5>
                    +7 (985) 2443226<br>
                    <a class="footer-mail" href="mailto:school@goto.msk.ru"> school@goto.msk.ru</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
