{% load staticfiles %}
<link href="{% static 'css/helpers/map.css' %}" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/helpers/map.js' %}"></script>

<div id="map-outside">
    <a onclick="close_map()"><i class="fa fa-times fa-3x"></i></a>
    <table>
        <td style="vertical-align: middle">
            <div id="map">
            </div>
        </td>
    </table>
</div>
