$primary-color: #418F7A;

.profile_img {
  width: 200px;

}

.batch_profile {
  height: 200px;

}

@mixin reverted {
  background-color: $primary-color;
  color: white;
}

.application {
  float: right;
  vertical-align: middle;
}

.edit-button {
  float: right;
}

.logo {
  max-height: 150%;
}

body {
  background-color: $primary-color;
}

.modal-footer {
  background-color: white;
  margin-top: 20px;
}

.container {
  background-color: white;
  padding-bottom: 20px;
  font-family: "Open Sans Light", sans-serif;
  font-size: 15px;
}

.container.main-container {

  background-color: $primary-color;

  div {
    background-color: white;
    padding: 10px;
    border-right: 10px;
    border-style: solid;
    border-color: $primary-color;
  }

}

.box {
  background-color: white;

}

.btn-info {
  @include reverted;
}

.modal-footer {
  text-align: left;
}

.contacts {
  text-align: right;
}

.bot-logo {
  max-height: 100px;
}

.bot-text {
  font-size: 11px;
}

.navbar-nav {
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 0;
  img {
    max-height: 63px;
    margin-left: 20%;

  }
}

.navbar-default {
  //min-height: 70px;
}

.auth-nav {
  margin-left: 5%;
}