{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link href="{% static 'css/about_us.css' %}" rel="stylesheet">
    <div class="hr"></div>

    <div class="whitespace"></div>
    <div class="container">
        <h1>О проекте GoTo</h1>
    </div>
    <div class="whitespace"></div>
    <div class="row">
        <div class="green_square col-md-6">
            <h2 class="white">Супер заголовок</h2>
            <p class="white">Измените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените
                этот
                текстИзмените
                этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текст
            </p>
        </div>
        <div style="background: url(/static/img/wallpaper.jpg)" class="image_square col-md-6">

        </div>
        <div style="background: url(/static/img/wallpaper.jpg)" class="image_square col-md-6">

        </div>
        <div class="green_square col-md-6">
            <h2 class="white">Супер заголовок</h2>
            <p class="white">Измените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените
                этот
                текстИзмените
                этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текст
            </p>
        </div>
    </div>
    <div class="clearfix whitespace"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h3 class="yellow">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="orange">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="purple">Супер заголовок</h3>
                <p>Измените текст</p></div>

            <div class="col-md-4"><h3 class="purple">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="green">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="orange">Супер заголовок</h3>
                <p>Измените текст</p></div>

            <div class="col-md-4"><h3 class="green">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="orange">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="yellow">Супер заголовок</h3>
                <p>Измените текст</p></div>
        </div>
    </div>
    <div class="clearfix whitespace"></div>
    <div class="green-background">
        <div class="green-background container">
            <h1 class="white">О проекте GoTo</h1>
            <div class="whitespace"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="orange-background">
        <div class="orange-background container">
            <h1 class="white">Команда</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="staff row">
                        <div class="staff-avatar col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8"><h3>Александр Пупкин</h3>
                            <p>Более 20 лет опыта продаж в интернете, владелец собственного прибыльного бизнеса.
                                Тренирует
                                более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="staff row">
                        <div class="staff-avatar col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8"><h3>Александр Пупкин</h3>
                            <p>Более 20 лет опыта продаж в интернете, владелец собственного прибыльного бизнеса.
                                Тренирует
                                более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="staff row">
                        <div class="staff-avatar col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8"><h3>Александр Пупкин</h3>
                            <p>Более 20 лет опыта продаж в интернете, владелец собственного прибыльного бизнеса.
                                Тренирует
                                более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="staff row">
                        <div class="staff-avatar col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8"><h3>Александр Пупкин</h3>
                            <p>Более 20 лет опыта продаж в интернете, владелец собственного прибыльного бизнеса.
                                Тренирует
                                более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="staff row">
                        <div class="staff-avatar col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8"><h3>Александр Пупкин</h3>
                            <p>Более 20 лет опыта продаж в интернете, владелец собственного прибыльного бизнеса.
                                Тренирует
                                более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="staff row">
                        <div class="staff-avatar col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8"><h3>Александр Пупкин</h3>
                            <p>Более 20 лет опыта продаж в интернете, владелец собственного прибыльного бизнеса.
                                Тренирует
                                более 200 человек в год, кототорые создали или вывели свой бизнес на новый уровен</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix whitespace"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ponte">
                <p class="int">128</p>
                <p class="int-description">Проектов сделано детьми.</p>
            </div>

            <div class="col-md-3 ponte">
                <p class="int">88</p>
                <p class="int-description">кг творога съедено.</p>
            </div>

            <div class="col-md-3 ponte">
                <p class="int">55</p>
                <p class="int-description">волос выпало.</p>
            </div>

            <div class="col-md-3 ponte">
                <p class="int">60</p>
                <p class="int-description">дней ушло на разработку.</p>
            </div>
        </div>
    </div>
    <div class="container partners">
    <h1>Партнёры</h1>
        <div class="row">
            <div class="col-md-2 partner">
                <img src={% static "img/partners/mfti.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/krok.gif" %}>
            </div>

            <div class="col-md-2 partner">
                <img src={% static "img/partners/intel.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/hse.jpg" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/mfti.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/nts.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/rvk.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/amperka.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/innopols.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/rambler.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/blastim.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/codeforces.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/abitur.jpg" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/cat.jpg" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/golograph.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/cossa.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/popmech.png" %}>
            </div>
            <div class="col-md-2 partner">
                <img src={% static "img/partners/newtonew.png" %}>
            </div>
        </div>
    </div>
{% endblock %}

