{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link href="{% static 'css/about_us.css' %}" rel="stylesheet">

    <div class="whitespace"></div>
    <div class="container">
        <h1>О проекте GoTo</h1>
    </div>
    <div class="whitespace"></div>
    <div class="row">
        <div class="green_square col-md-6">
            <h2 class="white">Супер заголовок</h2>
            <p class="white">Измените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените
                этот
                текстИзмените
                этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текст
            </p>
        </div>
        <div style="background: url(/static/img/wallpaper.jpg)" class="image_square col-md-6">

        </div>
        <div style="background: url(/static/img/wallpaper.jpg)" class="image_square col-md-6">

        </div>
        <div class="green_square col-md-6">
            <h2 class="white">Супер заголовок</h2>
            <p class="white">Измените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените
                этот
                текстИзмените
                этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот текстИзмените этот
                текстИзмените
                этот текст
            </p>
        </div>
    </div>
    <div class="clearfix whitespace"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h3 class="yellow">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="orange">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="purple">Супер заголовок</h3>
                <p>Измените текст</p></div>

            <div class="col-md-4"><h3 class="purple">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="green">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="orange">Супер заголовок</h3>
                <p>Измените текст</p></div>

            <div class="col-md-4"><h3 class="green">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="orange">Супер заголовок</h3>
                <p>Измените текст</p></div>
            <div class="col-md-4"><h3 class="yellow">Супер заголовок</h3>
                <p>Измените текст</p></div>
        </div>
    </div>
    <div class="clearfix whitespace"></div>
    <div class="green-background">
        <div class="green-background container">
            <h1 class="white">О проекте GoTo</h1>
            <div class="whitespace"></div>
            <div class="row">
                <div class="col-md-6 firefox-fix">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 firefox-fix">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 firefox-fix">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 firefox-fix">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 firefox-fix">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 firefox-fix">
                    <div class="row timegrid">
                        <div class="col-md-2 time-col">
                            <p class="time">4-6<br>дня</p>
                        </div>
                        <div class="col-md-10">
                            <p class="description">Встречаемся, оцениваем сроки и стоимость проекта,
                                составляем подробный
                                список
                                задач.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="orange-background">
        <div class="orange-background container">
            <h1 class="white">Команда</h1>
            <div class="row">
                {% for e in s.about_us_team.all %}
                    <div class="chel col-md-6">
                        <div class="staff row">

                            <div class="staff-avatar col-md-4">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="{{ e.profile_picture.url }}">

                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <h3>{{ e.first_name }} {{ e.last_name }}</h3>
                                <p>{{ e.short_description }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
    <div class="clearfix whitespace"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ponte">
                <p class="int">{{ statistics.projects }}</p>
                <p class="int-description">Проектов сделано детьми</p>
            </div>

            <div class="col-md-3 ponte">
                <p class="int">{{ statistics.archive}}</p>
                <p class="int-description">Мероприятий проведено</p>
            </div>

            <div class="col-md-3 ponte">
                <p class="int">{{ statistics.participants }}</p>
                <p class="int-description">Участников</p>
            </div>

            <div class="col-md-3 ponte">
                <p class="int">{{ statistics.experts}}</p>
                <p class="int-description">Экспертов</p>
            </div>
        </div>
    </div>
    <div class="container partners">
        <h1>Партнёры</h1>
        {% for p in s.about_us_partners.all %}
            <div class="col-md-2 partner">
                <a href="{{ p.link }}"><img src="/media/{{ p.image }}" alt="{{ p.name }}"></a>
            </div>

        {% endfor %}
    </div>
    </div>
{% endblock %}
