{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}

    {% include 'navigation.html' %}

{% endblock %}

{% block footer %}
    <div class="hr"></div>
    <div class="footer">
        <div style="padding-top: 5px; padding-bottom: 6px;">
            <div class="container">
                <div class="col-md-6 bot-text">
                    <img src="{% static 'img/logo.png' %}">

                    <p>Образовательный проект, посвященный проектной деятельности в различных
                        высокотехнологических областях. Использование визуальных материалов только с согласия
                        создателей проекта. Все права защищены.</p>

                </div>
                <div class="col-md-6 contacts">
                    <h5>Контакты</h5>
                    +7 (985) 2443226<br>
                    <a class="footer-mail" href="mailto:school@goto.msk.ru"> school@goto.msk.ru</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
