{% extends 'base_site.html' %}
{% block title %}
    Заявка на мероприятие "{{ event.name }}"
{% endblock %}

{% block container %}
    <div class="container">

        <h2>Подача заявки на мероприятие "{{ event.name }}"</h2>
        Перед подачей заявки убедитесь, что у вас в профиле указана актуальная информация!
        <form action="{% url 'application_fill' event.pk %}" method="post" enctype="multipart/form-data">
            <p><label>Имя, Фамилия</label> <input disabled value="{{ user.first_name }} {{ user.last_name }}"></p>
            <h3>Дополнительные вопросы</h3>
            {% for q in event.questions.all %}
                <p><label>{{ q.text }}</label> <br> <input name="question{{ q.id }}"></p>
            {% endfor %}

            {% csrf_token %}
            <input type="submit" value="Подать заявку">
        </form>


    </div>
{% endblock %}