{% extends 'base_site.html' %}
{% block title %}
    Заявка на мероприятие "{{ event.name }}"
{% endblock %}
{% block header %}
    <div class="header">
        {% include 'navigation.html' %}

        <div class="container" style="background: none;">
            <div style="height: 300px" class="xs-force-center header-text"></div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/fill.css' %}" rel="stylesheet">

    <div class="row">
        <div style="padding: 0" class="col-lg-6 col-lg-offset-3 white-background application-fill">
            <div class="hr big"></div>
        </div>
        <div class="col-lg-6 col-lg-offset-3 white-background application-fill">
            <h2 class="title">Подача заявки на мероприятие <br> "{{ event.name }}"</h2>

            <p class="description">Всем привет!<br>
                Для участия в школе вам необходимо заполнить данную заявку и выполнить отборочное задание, которое вы
                получите после заполнения данной формы на указанный email в течение суток после подачи заявки.
                Заявки принимаются до 23:59 24 июля. Результат высылается в течение недели после сдачи задания.
                <br>
                Если вы старше 22 лет, то пробуйте решить задание, пишите нам, возможно, мы найдем возможность вас
                взять.</p>

            <br>
            <form href="{% url 'application_fill' event.pk %}" method="post">
                <p class="question"> Выберете направление.</p>
                <div class="departments">
                    {% for dep in event.departments.all %}
                        <p class="department">
                            <input class="auto-width" type="radio" name="department_{{ dep.pk }}"> {{ dep.title }}
                        </p>
                    {% endfor %}
                </div>
                <p class="question">Выберете смену</p>
                <div class="departments">
                    {% for ar in event.arrangements.all %}
                        <p class="department">
                            <input class="auto-width" type="radio" name="arrangement_{{ ar.pk }}">
                            {{ ar.begin_date }}-{{ ar.end_date }}
                        </p>
                    {% endfor %}
                </div>
                {% for q in event.applier_questions.all %}
                    <p class="question">q.text</p>
                    <input class="answer" placeholder="Ответ" type="text" name="question_{{ q.pk }}">
                {% endfor %}
            {% csrf_token %}
                <input value="Принять участие" class="take-part header-btn-little header-btn" type="submit">
            </form>
        </div>
    </div>
{% endblock %}
