{% extends 'base_site.html' %}
{% block title %}
    GoTo Хакатон
{% endblock %}
{% block header %}
    <div class="header">
        {% include 'navigation.html' %}

        <div class="container" style="background: none;">
            <div class="xs-force-center header-text">
                <p>GoTo <br>
                    Серия хакатонов для школьников и студентов.
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/lectoriy.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/hackathon.css' %}" type="text/css"/>

    <link class="orange-css" rel="stylesheet" href="{% static 'css/schools/school_first.css' %}" type="text/css"/>
    {% include 'events/event_information.html' with event=s.current_hackathon %}



    <div class="row">
        <div class="col-md-6">
            <div class="description">
                <h5>GoToHack Анализ данных</h5>
                <p>26.09.2015</p>
                <a class="header-btn-little header-btn" type="button">Подробнее</a>
            </div>
        </div>
        <div class="col-md-6 orange-background"></div>
        <div class="col-md-6 orange-background"></div>
        <div class="col-md-6">
            <div class="description">
                <h5>GoToHack Анализ данных</h5>
                <p>26.09.2015</p>
                <a class="header-btn-little header-btn" type="button"
                       >Подробнее</a>
            </div>
        </div>
    </div>

{% endblock %}
