{% extends 'base_site.html' %}
{% block title %}
    GoTo Хакатон
{% endblock %}
{% block header %}
    <div class="header">
        {% include 'navigation.html' %}

        <div class="container" style="background: none;">
            <div class="xs-force-center header-text">
                <p>Хакактоны GoTo</p>
                <p class="decode-message"> Серия хакатонов для школьников и студентов</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/lectoriy.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/hackathon.css' %}" type="text/css"/>

    <link class="orange-css" rel="stylesheet" href="{% static 'css/schools/school_first.css' %}" type="text/css"/>
    {% include 'events/event_information.html' with event=s.current_hackathon %}

    {% for hack in archive %}
        <div class="row">
            {% if forloop.counter0|divisibleby:2 == 0 %}
                <div class="col-md-6 orange-background"></div>
            {% endif %}
            <div class="col-md-6">
                <div class="description">
                    <h5><a>GoToHack Анализ данных</a></h5>
                    <p>26.09.2015</p>
                    <a class="header-btn-little header-btn" type="button">Подробнее</a>
                </div>
            </div>
            {% if forloop.counter0|divisibleby:2 == 1 %}
                <div class="col-md-6 orange-background"></div>
            {% endif %}

        </div>

    {% endfor %}



{% endblock %}
