<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi!</title>
</head>
{% load staticfiles %}
<body onResize="refresh()">
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
<link rel="stylesheet" href="/static/css/index_new.css">
<link rel="stylesheet" type="text/css" href="/static/css/menu/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/menu/demo.css">
<link rel="stylesheet" type="text/css" href="/static/css/menu/icons.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/menu/menu.css"/>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/static/js/menu/modernizr.custom.js"></script>
<script src="/static/js/mo.min.js"></script>
<!-- Bootstrap core CSS -->
<link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <ul>
        <li><a href="{% url 'schools' %}">Лагерь</a></li>
        <li><a href="{% url 'hackathons' %}">Хакатон</a></li>
        <li><a href="{% url 'lectures' %}">Лекторий</a></li>
        <li><a href="#">Коворкинг</a></li>
        <li><a href="{% url 'about_us' %}">О нас</a></li>

        <li><a>Профиль</a></li>
    </ul>
</nav>

<div id='ss_menu' style="transform: rotate(88deg)">
    <div class="hor-fix"><i class="fa fa-facebook-official"></i></div>
    <div class="hor-fix"><i class="fa fa-twitter"></i></div>
    <div class="hor-fix"><i class="fa fa-linkedin"></i></div>
    <div class="hor-fix"><i class="fa fa-google-plus"></i></div>
    <div class='menu hor-fix'>
        <div class='share' id='ss_toggle' data-rot='88'>
            <div class='circle'></div>
            <div class='bar'></div>
        </div>
    </div>
</div>


<div class="first-slide">
    <canvas id="demo-canvas"></canvas>
    <table id='large-header' class="header">
        <tbody>
        <tr>
            <td valign="middle">
                <img id="logo" src="/static/img/logo_big.png">
            </td>
        <tr>
        </tbody>
    </table>

    <div class="text">
        Образовательный проект в сфере высоких технологий
    </div>
</div>

<!-- Весёлые покрутяшки -->
<div class="krutyashki">
    <div class="container">
        <div class="row crugleski">
            <div class="opisanie">
                <a onclick="awesome()">
                    <svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64"
                         xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
                        <g>
                            <path
                                    d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
                        </g>
                    </svg>
                </a>
                <table>
                    <td valign="middle">
                        <p class="programm-text">В начинающей группе запланирован базовый курс из лекций и воркшопов,
                            сопровождающихся заданиями из различных областей, в рамках которых ребята сделают 5-6
                            мини-проектов.<br>
                            Участники, попавшие в старшую группу по результатам тестирования, все время посвятят
                            реализации основного проекта в командах. Их ждут как технологические мастер-классы, так и
                            семинары по организации работы в проекте, формированию тз и исследованию требований от
                            пользователей, тестированию, а также ежедневная работа под руководством куратора и общение с
                            опытными разработчиками.
                        </p>

                        <p class="robot-text">
                            Участники направления будут разделены на 2 группы: Опытные ребята возьмутся сразу за проекты
                            – пройдут все стадии от идеи до реализации. Второй поток специально предназначен для
                            новичков, которые получат базовые навыки и инструментарий: познакомятся с платформой Arduino
                            и средой разработки; научатся работать с различными датчиками, микросхемами, сервомоторами и
                            объединять это все, чтобы получить умные устройства.
                            <br>
                            Каждый участник направления получит к концу школы результат в виде прототипа или
                            законченного устройства, а также пройдет серию мастер-классов по проектной работе,
                            промдизайну и 3д-печати, интернету вещей.
                        </p>

                        <p class="ad-text">
                            Небольшая группа участников с опытом в прикладном программировании займется изучением одной
                            из самых актуальных тем – анализ данных и машинное обучение. Ребята реализуют
                            исследовательские проекты и познакомятся с Big Data, Machine Learning и SNA, освоят основные
                            инструментарии и разберутся с математикой и статистикой, которые стоят за основными методами
                            в этих областях.<br>
                            В рамках направления для всех желающих будет проведена подготовка к нашим хакатонам и
                            Олимпиаде НТИ по большим данным и машинному обучению.

                        </p>

                        <p class="bio-text">
                            Биоинформатика - это стремительно развивающаяся область, точка смешения биологии, медицины,
                            информатики и математики, целью которой является выявление новых биологических
                            закономерностей алгоритмическими и статистическими методами. С развитием технологий
                            появилась возможность исследовать весь геном организма в целом, определять уровни активности
                            генов, исследовать их более сложные взаимодействия.
                            <br>
                            Участники узнают об основных задачах биоинформатики, получат опыт работы с реальными
                            данными, рассмотрят примеры современных исследований. К участию приглашаются все, кто хочет
                            познакомиться с новой областью и попробовать силы в решении нестандартных междисциплинарных
                            задач. Знание биологии не является обязательным в отличие от базового знания Python/R.
                        </p>
                    </td>
                </table>
            </div>
            <div onclick="cool(0)" class="up flip-container col-md-6">
                <div class="flipper">
                    <div class="front robot">
                        <table>
                            <td valign="middle"><h3>Робототехника</h3></td>
                        </table>
                    </div>
                    <div class="back robot-back">
                        <table>
                            <img src="/static/img/arrow.png">
                        </table>
                    </div>
                </div>
            </div>
            <div onclick="cool(1)" class="up flip-container vertical col-md-6">
                <div class="flipper">
                    <div class="front programm">
                        <table>
                            <td valign="middle"><h3>Прикладное программирование</h3></td>
                        </table>
                    </div>
                    <div class="back programm-back">
                        <table>
                            <img src="/static/img/arrow.png">

                        </table>
                    </div>
                </div>
            </div>
            <div onclick="ntcool(2)" class="down flip-container vertical col-md-6">
                <div class="flipper">
                    <div class="front ad">
                        <table>
                            <td valign="middle"><h3>Анализ данных</h3></td>
                        </table>
                    </div>
                    <div class="back ad-back">
                        <table>
                            <img src="/static/img/arrow.png">
                        </table>
                    </div>
                </div>
            </div>
            <div onclick="ntcool(3)" class="down flip-container col-md-6">
                <div class="flipper">
                    <div class="front bio">
                        <table>
                            <td valign="middle"><h3>Биоинформатика</h3></td>
                        </table>
                    </div>
                    <div class="back bio-back">
                        <table>
                            <img src="/static/img/arrow.png">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="button-big-picture">
    <a class="back-hochu"><img src="/static/img/arrow_black.png"></a>
    <canvas id="shariki" class="shariki"></canvas>
    <table class="table-shar">
        <tr>
            <td valign="middle">
                <button id="component-2" class="button button--2">
                    <p id="want">Хочу</p>
                    <p class="subscription_alert">Вы <br> успешно <br> подписались</p>
                </button>
                <div id="come_to_us_brother">
                        <span class="input input--akira">
                            <input class="input__field input__field--akira" type="text" id="input-22"/>
                            <label class="input__label input__label--akira" for="input-22">
                                <span class="input__label-content input__label-content--akira">Email</span>
                            </label>
                        </span>
                </div>


            </td>
        </tr>
    </table>


    <div id="take-part">
        <table>
            <tr>
                <td valign="middle">
                    <div class="take_part_in programm">
                        Хакатон
                    </div>

                    <div class="take_part_in robot">
                        Школа
                    </div>

                    <div class="take_part_in ad">
                        Лекторий
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <a onclick="come_to_us_brother()" id="but1">Подписаться</a>
    <a id="but2">Стать<br>партнёром</a>
    <a onclick="take_part()" id="but3">Принять <br> участие</a>
    <a id="but4">Преподавать</a>
    <a id="but5">Подробности<br>о проекте</a>
    <a id="but6">Новости</a>
</div>


<div id="partners" class="partners normal-otstup">
    <table class="cool_table">
        <tr>
            <td valign="middle">
                <div class="container">
                    <div class="row">
                        <div class="partners-header col-md-12"><h1>Партнёры</h1></div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/abitur.jpg"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/amperka.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/blastim.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img src="/static/img/partners/cat.jpg"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/codeforces.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/cossa.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/golograph.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img src="/static/img/partners/hse.jpg"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/innopols.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/intel.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img src="/static/img/partners/krok.gif"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img src="/static/img/partners/mfti.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/newtonew.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img src="/static/img/partners/nts.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/popmech.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img
                                        src="/static/img/partners/rambler.png"></a>
                                </td>
                            </table>
                        </div>
                        <div class="partner col-md-2 little-partner">
                            <table>
                                <td valign="middle"><a href="https://mipt.ru/"><img src="/static/img/partners/rvk.png"></a>
                                </td>
                            </table>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="footer-container">
        <div class="hr footer-hr"></div>
        <footer class="modal-footer">
            <div class="footer">
                <div style="padding-top: 5px; padding-bottom: 6px;">
                    <div class="container">
                        <div class="col-md-6 bot-text">
                            <img src="{% static 'img/logo.png' %}">

                            <p>Образовательный проект, посвященный проектной деятельности в различных
                                высокотехнологических областях. Использование визуальных материалов только с согласия
                                создателей проекта. Все права защищены.</p>

                        </div>
                        <div class="col-md-6 contacts">
                            <h5>Контакты</h5>
                            +7 (985) 2443226<br>
                            <a class="footer-mail" href="mailto:school@goto.msk.ru"> school@goto.msk.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
<script src="/static/js/index_new.js"></script>
<script src="/static/js/hochu/hochu.js"></script>
<script src="/static/js/menu/classie.js"></script>
<script src="/static/js/menu/borderMenu.js"></script>
<script src="/static/js/animated/EasePack.min.js"></script>
<script src="/static/js/animated/rAF.js"></script>
<script src="/static/js/animated/beatuful-header.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
</body>
</html>
