{% extends 'base_site.html' %}
{% block title %}
    GoTo Лекторий
{% endblock %}
{% block header %}
    <div class="header">
        {% include 'navigation.html' %}

        <div class="container" style="background: none;">
            <div class="xs-force-center header-text">
                <p>GoTo <br>
                    Серия лекций для заинтересованных.
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/lectoriy.css' %}" type="text/css"/>

    <div style="background: whitesmoke">
        <div style="background: whitesmoke;" class="container">
            <div style="margin-top: 2%" class="row">
                <div class="col-md-12 top-fix">
                    <div class="col-md-12 school-card">
                        <div class="row">
                            <div class="col-md-4 green-background"></div>
                            <div class="col-md-8">
                                <div class="school">
                                    <h6>Название лекции</h6>
                                    <p class="desc-school">
                                        Большое описание лекции, которая на карточке... Большое описание лекции, которая
                                        на
                                        карточке... Большое описание лекции, которая на карточке... Большое описание
                                        лекции,
                                        которая на карточке... Большое описание лекции, которая на карточке... Большое
                                        описание лекции, которая на карточке... Большое описание лекции, которая
                                        на
                                        карточке... Большое описание лекции, которая на карточке... Большое описание
                                        лекции,
                                        которая на карточке... Большое описание лекции, которая на карточке... Большое
                                        описание лекции, которая на карточке... Большое описание лекции, которая
                                        на
                                        карточке... Большое описание лекции, которая на карточке... Большое описание
                                        лекции,
                                        которая на карточке... Большое описание лекции, которая на карточке... Большое
                                        описание лекции, которая на карточке... Большое описание лекции, которая
                                        на
                                        карточке... Большое описание лекции, которая на карточке... Большое описание
                                        лекции,
                                        которая на карточке... Большое описание лекции, которая на карточке...
                                    </p>
                                    <p style="float: left" class="desc-shool"><a>Большая филёвская улица д.10</a></p>
                                    <p style="float: right" class="desc-shool">
                                        <a class="header-btn-little header-btn" type="button"
                                        >Принять участие</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 top-fix">
                    <div class="col-md-12 school-card">
                        <div class="school">
                            <img src="/static/img/logo.png">

                            <h6>Название лекции</h6>
                            <p class="desc-school">
                                Мини описание лекции, которая на карточке... Мини описание лекции, которая на
                                карточке...
                                Мини описание лекции, которая на карточке...
                            </p>
                            <br>
                            <p style="float: right;" class="desc-school">16 марта</p>
                            <p style="float: left;" class="desc-school"> Лекция состоялась</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 top-fix">
                    <div class="col-md-12 school-card">
                        <div class="school">
                            <img src="/static/img/logo.png">

                            <h6>Название лекции</h6>
                            <p class="desc-school">
                                Мини описание лекции, которая на карточке... Мини описание лекции, которая на
                                карточке...
                                Мини описание лекции, которая на карточке...
                            </p>
                            <br>
                            <p style="float: right;" class="desc-school">16 марта</p>
                            <p style="float: left;" class="desc-school"> Лекция состоялась</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 top-fix">
                    <div class="col-md-12 school-card">
                        <div class="school">
                            <img src="/static/img/logo.png">

                            <h6>Название лекции</h6>
                            <p class="desc-school">
                                Мини описание лекции, которая на карточке... Мини описание лекции, которая на
                                карточке...
                                Мини описание лекции, которая на карточке...
                            </p>
                            <br>
                            <p style="float: right;" class="desc-school">16 марта</p>
                            <p style="float: left;" class="desc-school"> Лекция состоялась</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 top-fix">
                    <div class="col-md-12 school-card">
                        <div class="school">
                            <img src="/static/img/logo.png">

                            <h6>Название лекции</h6>
                            <p class="desc-school">
                                Мини описание лекции, которая на карточке... Мини описание лекции, которая на
                                карточке...
                                Мини описание лекции, которая на карточке...
                            </p>
                            <br>
                            <p style="float: right;" class="desc-school">16 марта</p>
                            <p style="float: left;" class="desc-school"> Лекция состоялась</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix whitecpace"></div>

    <div class="container subscribe">
        <p> Предложити тему следующей лекции</p>
        <form action="{% url 'subscribe' %}" method="get">
            <table align="center" class="demotable">
                <tr>
                    <td valign="middle">
                        <input class="email" type="email" name="email" placeholder="Анализ данных*">
                    </td>
                    <td valign="middle">
                        <input style="width: 40px;" type="image" src={% static "img/tick.png" %}>
                    </td>

                </tr>
            </table>
        </form>
    </div>
{% endblock %}
