{% extends 'base_site.html' %}

{% load staticfiles %}

{% block title %}
    GoTo | СМИ о нас
{% endblock %}

{% block container %}
    <link href="{% static 'css/mm-articles.css' %}" rel="stylesheet">
    <div class="container main-container">
        <table class="article">
            {% for article in articles %}
                <tr>
                    <td style="vertical-align: middle">
                        <a href="{{ article.url }}"><img src="/media/{{ article.image }}"></a>
                    </td>
                    <td style="vertical-align: middle">
                        <h6><a href="{{ article.url }}">{{ article.title }}</a></h6>
                        <p>{{ article.description }}</p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    </div>
{% endblock %}
