{% load staticfiles %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
<nav style="margin-bottom: 0" class="navbar navbar-default">
    <div class="container-fluid" style="background: none;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs1-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"> <img class="logo" src="{% static 'img/logo.png' %}">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right auth-nav">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'user_detail' user.id %}">{{ request.user.first_name }}</a>
                    </li>
                    <li><a href="{% url 'sign_out' %}">Выйти</a></li>
                {% else %}

                    <li><a href="{% url 'sign_in' %}">Вход</a></li>
                    <li><a href="{% url 'sign_up' %}">Регистрация</a></li>

                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'schools' %}">Школa</a></li>
                <li><a href="{% url 'hackathons' %}">Хакатон</a></li>
                <li><a href="{% url 'lectures' %}">Лекторий</a></li>
                <li><a href="{% url 'info' %}">Информация</a></li>

                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li role="separator" class="divider"></li>

            </ul>
        </div>

    </div>

</nav>
