{% extends 'base_site.html' %}
{% block title %}
    GoTo  Школы
{% endblock %}
{% block header %}
    <div class="header">
        {% include 'navigation.html' %}

        <div class="container" style="background: none;">
            <div class="xs-force-center header-text">
                <p>GoTo <br>
                    Серия выездных и городских школ.
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link class="orange-css" rel="stylesheet" href="{% static 'css/schools/school_first.css' %}" type="text/css"/>
    <link href="{% static 'css/schools.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/camp.js' %}"></script>

    <div class="whitespace"></div>
    <!-- Карточки -->
    <div class="container cards">
        <div class="row">

            <div class="col-md-6">
                <div onclick="load_orange()" class="card effect__hover">
                    <div class="card__front green-background">
                        <div class="card__text">
                            <p class="card-title">{{ s.current_left_school.name }}</p>
                            <p class="card-time">{{ s.current_left_school.short_description }}</p>
                        </div>
                    </div>
                    <div class="card__back green-background">
                        <div class="card__text">
                            <p class="card-title">{{ s.current_left_school.name }}</p>
                            <p class="card-time">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div onclick="load_green()" class="card effect__hover">
                    <div class="card__front orange-background">
                        <div class="card__text">
                            <p class="card-title">{{ s.current_right_school.name }}</p>
                            <p class="card-time">{{ s.current_right_school.short_description }}</p>
                        </div>
                    </div>
                    <div class="card__back orange-background">
                        <div class="card__text">
                            <p class="card-title">{{ s.current_right_school.name }}</p>
                            <p class="card-time">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="clearfix whitespace"></div>


    <!-- Фичи -->
    <div class="green-item">
        {% include 'events/event_partitial.html' with event=s.current_left_school %}
    </div>
    <div class="orange-item">
        {% include 'events/event_partitial.html' with event=s.current_right_school %}
    </div>
    <div style="background: whitesmoke">
        <div style="background: whitesmoke;" class="container">
            <h2>Прошедшие школы</h2>
            {% for ar in archive %}
                <div style="margin-top: 2%" class="col-md-4">
                    <div class="school-card school">
                        <img src="{{ ar.event.main_image.url }}">

                        <h6>{{ ar.event.name }}</h6>
                        <p class="desc-school">
                            Даты: {{ ar.begin_date }}- {{ ar.end_date }}
                        </p>
                        <p class="desc-school">
                            Место проведения: {{ ar.event.place }}
                        </p>
                        <div style="text-align: center">
                            <input class="header-btn-little header-btn" type="button"
                                   value="Подробнее">
                        </div>
                    </div>

                </div>
            {% endfor %}

            <div style="text-align: center" class="col-md-12">
                <input class="header-btn-big header-btn smoke" type="button"
                       value="Просмотреть все">
            </div>
        </div>
    </div>
    <div class="clearfix whitespace"></div>


{% endblock %}
