{% extends 'base_site.html' %}
{% block title %}
    GoTo | Школы
{% endblock %}
{% block header %}
    <div class="header">
        {% include 'navigation.html' %}

        <div class="container" style="background: none;">
            <div class="xs-force-center header-text">
                <p>GoTo <br>
                    Серия выездных и городских школ.
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block container %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% load staticfiles %}
    <link href="{% static 'css/schools.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/camp.js' %}"></script>

    <div class="whitespace"></div>
    <div class="container cards">
        <div class="row">

            <div class="col-md-6">
                <div onclick="load_green()" class="card effect__hover">
                    <div class="card__front green-background">
                    <div class="card__text">
                        <p class="card-title">Городская <br> летняя школа</p>
                        <p class="card-time">25.09.99</p>
                    </div>
                    </div>
                    <div class="card__back green-background">
                    <div class="card__text">
                        <p class="card-title">Городская <br> летняя школа</p>
                        <p class="card-time">Подробнее</p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div onclick="load_orange()" class="card effect__hover">
                    <div class="card__front orange-background">
                    <div class="card__text">
                        <p class="card-title">Выездные <br> летнии школы</p>
                        <p class="card-time">25.09.99</p>
                    </div>
                    </div>
                    <div onclick="" class="card__back orange-background">
                    <div class="card__text">
                        <p class="card-title">Выездные <br> летнии школы</p>
                        <p class="card-time">Подробнее</p>
                    </div>
                    </div>
                </div>
            </div>

            </div>

        </div>
    </div>
    <div class="clearfix whitespace"></div>
{% endblock %}
