{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    <style>
    input {
        font-size: 32px !important;
        margin: 5px 0;
    }
    h1{
        text-align: center;
    }
    .col-md-6{
        margin: 0 auto;
    }
    .main-container{
        display: flex;
    }
    </style>
    <div class="container main-container">
        <div class="col-md-6">
            <h1>Регистрация</h1>

            <form action="{% url 'sign_up' %}" method="post">

                <input type="text" placeholder="Имя" name="first_name" required> <br>
                <input type="text" placeholder="Фамилия" name="last_name" required> <br>
                <input type="email"  placeholder="Email" name="email" required> <br>
                <input type="password" placeholder="Пароль" name="password" required> <br>
{##}
{#                Тип аккаунта: <select name="type">#}
{#                        <option value="participant">Участник</option>#}
{#                        <option value="expert">Эксперт</option>#}
{#                    </select> <br>#}

                <input class="btn btn-default login-btn" type="submit" value="Зарегистрироваться">

                {% csrf_token %}
            </form>
        </div>


    </div>
{% endblock %}
