{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    <div class="container main-container">
        <div class="col-md-12">
            <h1>Регистрация</h1>
            {% if err %}
            <p>
                {{ err }}
            </p>
            {% endif %}
            {% if info %}
            <p>
                {{ info }}
            </p>
            {% endif %}
            <form action="{% url 'sign_up' %}" method="post">
                {% csrf_token %}
                Имя: <input type="text" name="first_name" required> <br>
                Фамилия:  <input type="text" name="last_name" required> <br>
                Email: <input type="email" name="email" required> <br>
                Password: <input type="password" name="password" required> <br>
                Тип аккаунта: <select name="type">
                        <option value="participant">Участник</option>
                        <option value="expert">Эксперт</option>
                    </select> <br>
                <input type="submit">
            </form>
        </div>


    </div>
{% endblock %}