{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    <div class="container">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <img src="/{{ user.profile_picture }}" class="profile_img"/>

        {% if user.participant %}
            <b>Опыт в программировании:</b> {{ user.participant.experience }}

        {% endif %}
        <h3>Контакты</h3>
        <p><b>Email:</b> {{ user.email }}</p>
        {% if user.vk %}
            <p><b>VK:</b> <a href="{{ user.vk }}">{{ user.vk }}</a></p>
        {% endif %}

    </div>
{% endblock %}