.orange-item{
    display: none;
}
.green-item{
    display: block;
}

.hr{
    background: #43b498 none repeat scroll 0 0 !important;
}

.big-box{
    background: #43b498 none repeat scroll 0 0 !important;
}

.colored{
     background: #43b498;
}
