{% extends "base_site.html" %}

{% load i18n %}

{% block head_title %}{% trans "Регистрация" %}{% endblock %}

{% block container %}
    <div class="container">
        <h1>{% trans "Регистрация" %}</h1>

        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Вы используете свой
            {{ provider_name }} аккаунт чтобы войти. Последний шаг - заполните, пожалуйста, эту
            форму:{% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans "Войти" %} &raquo;</button>
        </form>
    </div>


{% endblock %}
