{% extends 'base_site.html' %}
{% load staticfiles %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/taggle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    <link href="{% static 'css/taggle.css' %}" rel="stylesheet">

    <div class="whole">
        <div style="background: none" class="container">
            <div class="row">
                <div class="profileedit col-md-12">
                    <div class="inside">
                        {% include 'user/edit.html' %}
                        {#                        <iframe scrolling="no" style="overflow: hidden" id="kik" src="/profile/edit"></iframe>#}
                    </div>
                </div>
                <div class=" col-md-3">

                    <div class="profil-base col-md-12">
                        <div class="inside">
                            <table>
                                <tr>
                                    <td>
                                        <img src="/media/{{ viewed_user.profile_picture }}">
                                        {% if viewed_user.id == user.id %}
                                            <div onclick="edit()" class="edit">
                                                Редактировать
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% for ap in viewed_user.participant.application_set.all %}

                        <div class="col-md-12">
                            <div class="inside school">
                                <table>
                                    <tr>
                                        <td>
                                            <p class="school-project">{{ ap.arrangement.event.name }}</p>
                                            {{ ap.arrangement.dates }}
                                            <p style="color: green">{{ ap.text_status }}</p>
                                            {% if ap.status == 1 %}
                                                <a href="{% url 'application_change' ap.id "confirm" %}">Подтвердить
                                                    участие</a>
                                                <a href="{% url 'application_change' ap.id "reject" %}">Отозвать
                                                    заявку</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endfor %}


                </div>

                <div class="col-md-9">
                    <div class="profil-base col-md-12">
                        <div class="inside">
                            <div class="features row">

                                <div style="margin-bottom: 20px;" class="col-md-12">
                                    <div class="name">
                                        <h2>{{ viewed_user.first_name }} {{ viewed_user.last_name }}</h2>
                                        <h3>Эксперт</h3>
                                        <div class="hr"></div>
                                    </div>
                                </div>
                                <br>
                                {% if viewed_user.organization|length > 0 %}
                                    <div class="col-md-4 leftal much">
                                        <p>Организация:</p>
                                    </div>
                                    <div class="col-md-8 leftal much">
                                        <p class="value">{{ viewed_user.organization }}</p>
                                    </div>
                                    <br>
                                {% endif %}
                                {% if viewed_user.participant %}
                                    {% if viewed_user.participant.city|length > 0 %}
                                        <div class="col-md-4 leftal much">
                                            <p>Город проживания:</p>
                                        </div>
                                        <div class="col-md-8 leftal much">
                                            <p class="value">{{ viewed_user.participant.city }}</p>
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}



                                {% if viewed_user.participant %}
                                    {% if viewed_user.participant.programming_languages|length %}
                                        <div class="col-md-4 leftal much">
                                            <p>Языки и технологии:</p>
                                        </div>
                                        <div class="col-md-8 leftal much">
                                            <p class="value">{{ viewed_user.participant.programming_languages }}</p>
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}
                                {% if viewed_user.participant %}
                                    {% if viewed_user.participant.experience|length %}
                                        <div class="col-md-4 leftal much">
                                            <p>Опыт в программировании:</p>
                                        </div>
                                        <div class="col-md-8 leftal much">
                                            <p class="value"> {{ viewed_user.participant.experience }} </p>
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}

                                {% if viewed_user.expert %}
                                    {% if viewed_user.expert.position|length %}
                                        <div class="col-md-4 leftal much">
                                            <p>Должность:</p>
                                        </div>
                                        <div class="col-md-8 leftal much">
                                            <p class="value">{{ viewed_user.expert.position }}</p>
                                        </div>
                                        <br>
                                    {% endif %}
                                {% endif %}

                                {% if viewed_user.about|length > 0 %}
                                    <div class="col-md-4 leftal much">
                                        <p>О себе:</p>
                                    </div>
                                    <div class="col-md-8 leftal much">
                                        <p class="value">{{ viewed_user.about }}</p>
                                    </div>
                                    <br>
                                {% endif %}
                                {% if viewed_user.participant %}
                                    {% if  viewed_user.id == user.id or perms.goto.view_personal_data %}
                                        {% if viewed_user.expert.position|length > 0 %}
                                            <div class="col-md-4 leftal much">
                                                <p>Полных лет:</p>
                                            </div>
                                            <div class="col-md-8 leftal much">
                                                <p class="value">{{ viewed_user.expert.position }}</p>
                                            </div>
                                            <br>
                                        {% endif %}

                                        {% if viewed_user.participant.birthday|length > 0 %}
                                            <div class="col-md-4 leftal much">
                                                <p>Дата рождения: </p>
                                            </div>
                                            <div class="col-md-8 leftal much">
                                                <p class="value">{{ viewed_user.participant.birthday }}</p>
                                            </div>
                                            <br>
                                        {% endif %}

                                        {% if viewed_user.participant.current_class|length > 0 %}
                                            <div class="col-md-4 leftal much">
                                                <p>Класс:</p>
                                            </div>
                                            <div class="col-md-8 leftal much">
                                                <p class="value">{{ viewed_user.participant.current_class }}</p>
                                            </div>
                                            <br>
                                        {% endif %}

                                        {% if viewed_user.participant.health_issues|length > 0 %}
                                            <div class="col-md-4 leftal much">
                                                <p>Медецинские рекомендации:</p>
                                            </div>
                                            <div class="col-md-8 leftal much">
                                                <p class="value">{{ viewed_user.participant.health_issues }}</p>
                                            </div>
                                            <br>
                                        {% endif %}

                                        {% if  viewed_user.participant.phone_number|length > 0 %}
                                            <div class="col-md-4 leftal much">
                                                <p>Телефон:</p>
                                            </div>
                                            <div class="col-md-8 leftal much">
                                                <p class="value">{{ viewed_user.participant.phone_number }}</p>
                                            </div>
                                            <br>
                                        {% endif %}


                                        {% if viewed_user.participant.parent_phone_number|length > 0 %}
                                            <div class="col-md-4 leftal much">
                                                <p>Телефон родителей:</p>
                                            </div>
                                            <div class="col-md-8 leftal much">
                                                <p class="value">{{ viewed_user.participant.parent_phone_number }}</p>
                                            </div>
                                            <br>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                <div class="col-md-12">
                                    <br>
                                    <a onclick="took()" class="togmuch">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 profileedit project">
                        <div class="inside row project">
                            <div class="col-md-12 leftal"><input class="project-header" type="text"
                                                                 placeholder="Хератень"></div>
                            <div class="col-md-12 leftal">
                                <div id="example4"></div>
                            </div>
                            <div class="col-md-12 leftal"><input class="project-maintainers" type="text"
                                                                 placeholder="Github"></div>
                            <div class="col-md-8 leftal">
                                <textarea placeholder="Описание вашего замечательного проекта"
                                          class="project-description"></textarea>
                            </div>
                            <div class="col-md-4 project-photo">

                                <div class="project-image">
                                    <input style="display: none" type="file" id="imgupload"/>
                                    <img src="https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/upload-256.png">
                                </div>
                                <p>Курировал
                                    <select>
                                        <option>Бибилов Иван</option>
                                    </select></p>
                            </div>

                            <div class="col-md-12">
                                <input class="project-add" value="Добавить проект" type="submit">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 project">
                        <div class="inside row project">
                            <div class="col-md-12 leftal"><h3>Хератень <img style="height: 30px; width: auto"
                                                                            src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
                            </h3></div>
                            <div class="col-md-12 leftal"><h5>Творожков Андрей, Васильев Олег</h5></div>
                            <div class="col-md-12"><p class="leftal">Это описание проекта настолько замечательное, что
                                его просто нет,
                                но оно адекватное, а не как у Олега с Алёной обычно бывает... В общем это супер пупер
                                проект вся документация на гите, подписывайтесь, ставьте лайки и вообще вы крутые
                                ^_^</p></div>
                            <div class="col-md-12">
                                <p class="rightal">Курировал Бибилов Иван</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 project">
                        <div class="inside row project">
                            <div class="col-md-12 leftal"><h3>Хератень <img style="height: 30px; width: auto"
                                                                            src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
                            </h3></div>
                            <div class="col-md-12 leftal"><h5>Творожков Андрей, Васильев Олег</h5></div>
                            <div class="col-md-8">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td style="vertical-align: middle"><p class="leftal">Это описание проекта
                                            настолько замечательное, что
                                            его просто нет,
                                            но оно адекватное, а не как у Олега с Алёной обычно бывает... В общем это
                                            супер пупер
                                            проект вся документация на гите, подписывайтесь, ставьте лайки и вообще вы
                                            крутые
                                            ^_^</p>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4 project-photo">
                                <img src="">
                                <p>Курировал Бибилов Иван</p>
                            </div>
                        </div>
                    </div>

                    {% if perms.goto.view_private_comment %}
                        <div class="col-md-12">
                            <div class="inside">


                                <h2>Приватные отзывы об участнике</h2>

                                {% if public_comments|length > 0 %}

                                    {% for comment in public_comments %}
                                        <div class="col-md-4">
                                            <p>
                                                comment.text
                                            </p>
                                            <i>comment.author</i>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    Нет приватных отзывов
                                {% endif %}
                            </div>
                            12
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
