{% extends 'base_site.html' %}
{% block title %}
    GoTo
{% endblock %}

{% block container %}
    {% load staticfiles %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>

    <div class="whole">
        <div style="background: none" class="container">
            <div class="row">
                <div class="profil-base col-md-3">
                    <div class="inside">
                        <table>
                            <tr>
                                <td>
                                    <img src="/media/{{ viewed_user.profile_picture }}">
                                    {% if viewed_user.id == user.id %}
                                        <div onclick="edit()" class="edit">
                                            Редактировать
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="profil-base col-md-9">
                    <div class="inside">
                        <div class="features row">

                            <div style="margin-bottom: 20px;" class="col-md-12">
                                <div class="name">
                                    <h2>{{ viewed_user.first_name }} {{ viewed_user.last_name }}</h2>
                                    <h3>Эксперт</h3>
                                    <div class="hr"></div>
                                </div>
                            </div>
                            <br><br>
                            {% if viewed_user.organization|length > 0 %}
                                <div class="col-md-3 leftal much">
                                    <p>Организация:</p>
                                </div>
                                <div class="col-md-9 leftal much">
                                    <p class="value">{{ viewed_user.organization }}</p>
                                </div>
                                <br><br>
                            {% endif %}
                            {% if viewed_user.participant %}
                                {% if viewed_user.participant.city|length > 0 %}
                                    <div class="col-md-3 leftal much">
                                        <p>Город проживания:</p>
                                    </div>
                                    <div class="col-md-9 leftal much">
                                        <p class="value">{{ viewed_user.participant.city }}</p>
                                    </div>
                                    <br><br>
                                {% endif %}
                            {% endif %}

                            {% if viewed_user.participant %}
                                {% if  viewed_user.participant.citizenship|length > 0 %}
                                    <div class="col-md-3 leftal much">
                                        <p>Страна проживания:</p>
                                    </div>
                                    <div class="col-md-9 leftal much">
                                        <p class="value">{{ viewed_user.participant.citizenship }}</p>
                                    </div>
                                    <br><br>
                                {% endif %}
                            {% endif %}

                            {% if viewed_user.participant %}
                                {% if viewed_user.participant.programming_languages|length %}
                                    <div class="col-md-3 leftal much">
                                        <p>Языки и технологии:</p>
                                    </div>
                                    <div class="col-md-9 leftal much">
                                        <p class="value">{{ viewed_user.participant.programming_languages }}</p>
                                    </div>
                                    <br><br>
                                {% endif %}
                            {% endif %}
                            {% if viewed_user.participant %}
                                {% if viewed_user.participant.experience|length %}
                                    <div class="col-md-3 leftal much">
                                        <p>Опыт в программировании:</p>
                                    </div>
                                    <div class="col-md-9 leftal much">
                                        <p class="value"> {{ viewed_user.participant.experience }} </p>
                                    </div>
                                    <br><br>
                                {% endif %}
                            {% endif %}

                            {% if viewed_user.expert %}
                                {% if viewed_user.expert.position|length %}
                                    <div class="col-md-3 leftal much">
                                        <p>Должность:</p>
                                    </div>
                                    <div class="col-md-9 leftal much">
                                        <p class="value">{{ viewed_user.expert.position }}</p>
                                    </div>
                                    <br><br>
                                {% endif %}
                            {% endif %}

                            {% if viewed_user.about|length > 0 %}
                                <div class="col-md-3 leftal much">
                                    <p>О себе:</p>
                                </div>
                                <div class="col-md-9 leftal much">
                                    <p class="value">{{ viewed_user.about }}</p>
                                </div>
                                <br><br>
                            {% endif %}
                            {% if viewed_user.participant %}
                                {% if  viewed_user.id == user.id or perms.goto.view_personal_data %}
                                    {% if viewed_user.expert.position|length > 0 %}
                                        <div class="col-md-3 leftal much">
                                            <p>Полных лет:</p>
                                        </div>
                                        <div class="col-md-9 leftal much">
                                            <p class="value">{{ viewed_user.expert.position }}</p>
                                        </div>
                                        <br><br>
                                    {% endif %}

                                    {% if viewed_user.participant.birthday|length > 0 %}
                                        <div class="col-md-3 leftal much">
                                            <p>Дата рождения: </p>
                                        </div>
                                        <div class="col-md-9 leftal much">
                                            <p class="value">{{ viewed_user.participant.birthday }}</p>
                                        </div>
                                        <br><br>
                                    {% endif %}

                                    {% if viewed_user.participant.current_class|length > 0 %}
                                        <div class="col-md-3 leftal much">
                                            <p>Класс:</p>
                                        </div>
                                        <div class="col-md-9 leftal much">
                                            <p class="value">{{ viewed_user.participant.current_class }}</p>
                                        </div>
                                        <br><br>
                                    {% endif %}

                                    {% if viewed_user.participant.health_issues|length > 0 %}
                                        <div class="col-md-3 leftal much">
                                            <p>Медецинские рекомендации:</p>
                                        </div>
                                        <div class="col-md-9 leftal much">
                                            <p class="value">{{ viewed_user.participant.health_issues }}</p>
                                        </div>
                                        <br><br>
                                    {% endif %}

                                    {% if  viewed_user.participant.phone_number|length > 0 %}
                                        <div class="col-md-3 leftal much">
                                            <p>Телефон:</p>
                                        </div>
                                        <div class="col-md-9 leftal much">
                                            <p class="value">{{ viewed_user.participant.phone_number }}</p>
                                        </div>
                                        <br><br>
                                    {% endif %}


                                    {% if viewed_user.participant.parent_phone_number|length > 0 %}
                                        <div class="col-md-3 leftal much">
                                            <p>Телефон родителей:</p>
                                        </div>
                                        <div class="col-md-9 leftal much">
                                            <p class="value">{{ viewed_user.participant.parent_phone_number }}</p>
                                        </div>
                                        <br><br>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <a onclick="took()" class="togmuch">Показать подробную информацию</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: none" class="profileedit col-md-12">
                    <div class="inside">
                        <iframe scrolling="no" style="overflow: hidden" id="kik" src="/profile/edit"></iframe>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="inside school">
                        <table>
                            <tr>
                                <td>
                                    <img class="add-image"
                                         src="https://cdn4.iconfinder.com/data/icons/mayssam/512/plus-256.png">
                                    <p>Добавить проект</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-9 project">
                    <div class="inside row project">
                        <div style="text-align: center" class="col-md-4">
                            <table>
                                <tr>
                                    <td>
                                        <img src="http://pics.wikireality.ru/upload/thumb/8/81/Negr.jpg/280px-Negr.jpg">
                                        <p class="where">Проект городской школы N13</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-8">
                            <h3>Хератень</h3>
                            <div class="features row">
                                <div class="col-md-3 leftal">
                                    <p>Github:</p>
                                </div>
                                <div class="col-md-9 leftal">
                                    <a href="https://github.com/her"><p class="value">хератень</p></a>
                                </div>

                                <div class="col-md-3 leftal">
                                    <p>Описание:</p>
                                </div>
                                <div class="col-md-9 leftal">
                                    <p class="value">Наш проект - это самое наилучшие, что когда либо я делал. Я лично
                                        НЕ знаю, как оно работает, но УРА!!! Оно мать работает, это прям очень круто. Я
                                        собираюсь его развивать и двигаться с ним дальше и быть крутым.</p>
                                </div>

                                <div class="col-md-3 leftal">
                                    <p>Куратор:</p>
                                </div>
                                <div class="col-md-9 leftal">
                                    <p class="value">Бибилов Иван.</p>
                                </div>


                                <div class="col-md-3 leftal">
                                    <p>Участники:</p>
                                </div>
                                <div class="col-md-9 leftal">
                                    <p class="value">Творожков Андрей, Васюткин Олег</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inside school">
                        <table>
                            <tr>
                                <td>
                                    <img class=""
                                         src="http://img0.joyreactor.cc/pics/post/full/friday-the-13th-%D0%BF%D0%BE%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%B5%D1%81%D0%BE%D1%87%D0%BD%D0%B8%D1%86%D0%B0-%D1%83%D0%B4%D0%B0%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D0%B5-1946490.jpeg">
                                    <p>Городская школа N13</p>
                                    <p>23-25 марта</p>
                                    <p style="color: green">Заявка принята</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
